.conteiner {
    width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
   

    &--header {
        display: flex;
      }

      &--hero {
        text-align: center;
     }

     &__footer {
      display: flex;
      align-items: baseline;
      
    }

    &__footer__form {
      display: flex;
      flex-direction: column;
    }

    &__social__network {
      margin-right: auto;
    }
}


