.footer {
    padding: 60px 0px;
    background-color: var(--bg-second-col);
  }
  .conteiner__footer--size__contact {
    margin-right: 70px;
  }
  
  .address {
    font-style: normal;
  }
  
  .footer__par {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--bg-pr-col);

    &--size{
    margin-bottom: 9px;
    }       
  }


  .conteiner__social__network {
    margin-right: auto;
  }
  
  .social__network__tittle {

    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--bg-pr-col);

    &--size{
        margin-bottom: 20px;
    }

  }

  .footer__form__conteiner {
    display: flex;
    flex-direction: column;
  }
 
  
  
  
  
  
  