
/* Footer-form */

  
  .footer__form {
    display: flex;
    margin-left: auto;
    fill: #afb1b8;
  }
  .footer__input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    margin-right: 12px;
    border-radius: 4px;
    border: 1px solid var(--br-solid-col);
    outline: none;
  
    color: var(--br-solid-col);
    background-color: transparent;
    cursor: pointer;

    &:focus,
    &:hover {
      border: 1px solid var(--hover-btn-col);
    }
  }
  
  .icon-send {
    fill: currentColor;
  }
  .footer-icon-conteiner {
    display: flex;
   
    margin-left: 10px;
  }