.header {
    position: relative;
    background-color: var(--bg-pr-col);
    border-bottom: 1px solid var(--hed-sol-col);
  }
  
 
  
.nav {
    display: flex;
    align-items: center;
  }
  
.nav__list {
    display: flex;

        &--item:not(:last-child) {
            margin-right: 50px;
        }
        &--item {
            position: relative;
        }
}
  
.list__contact {
    display: flex;
    margin-left: auto;
  
   
  &--item:not(:last-child) {
    margin-right: 50px;
  }
}
  
  .link__item--contact {
    display: inline-flex;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
  
    color: var(--second-col-txt);
  }
  
  .icon__postbox {
    fill: currentColor;
    margin-right: 10px;

        &:hover,
        &:focus{
        color: var(--hover-btn-col);
    }
  }
  
  .icon__mobtel {
    fill: currentColor;
    margin-right: 10px;

        &:hover,
        &:focus{
        color: var(--hover-btn-col);
    }
  }
  