.link {
   
    text-decoration: none;
    cursor: pointer;
}

.link__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;

  color: var(--pr-col-txt);

  transition: color var(--pr-transition);

  &--nav{
    display: block;
    padding: 35px 0px;
   
  }
 
  
  &:hover,
  &:focus {
    color: var(--accent-col);
  }

  &--footer {
    font-weight: 400;
    color: var(--link-col);
  }

}






