.logo {
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  
    color: var(--accent-col);
 
    &--header {
    display: block;
    padding: 24px 0px;
    margin-right: 93px;
}
   &--header__chapter{
    color: var(--pr-col-txt);

    &--footer {
        display: block;
        margin-bottom: 20px;

        color: var(--bg-pr-col);
      }
}

}
 .logo-footer {
//     font-family: Raleway;
//     font-weight: bold;
//     font-size: 26px;
//     line-height: 1.2x;
//     letter-spacing: 0.03em;
    color: var(--bg-pr-col);
   }