/* PORTFOLIO  */
.filtr {
    padding: 94px 0px;
    background-color: var(--bg-pr-col);
  }
  
  .list__filtr {
    display: flex;
    justify-content: center;

    &--size{
        margin-bottom: 50px;
    }
    &--size__item{
        margin-right: 8px;
    }
    &--size__item:nth-child(5n) {
        margin-right: 0;
      }
  }
 
  
  
  /* Btn-portfolio */
  
  .item-btn {
    padding: 6px 22px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
  
    color: var(--pr-col-txt);
    background-color: var(--bg-lightgrey-col);
  
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .item-btn:hover,
  .item-btn:focus {
    background-color: var(--accent-col);
    color: var(--bg-pr-col);
    box-shadow: 0px 4px 4px var(--sw-btn);
  }
  .btn-active {
    background-color: var(--accent-col);
    color: var(--bg-pr-col);
  }
  
  /* Portfolio list section */
  .pl-tittle-list {
    display: flex;
    flex-wrap: wrap;
  }
  .pl-tittle-list-item {
    position: relative;
  
    width: 370px;
    border: 1px solid var(--hed-sol-col);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .pl-tittle-list-item:nth-child(3n) {
    margin-right: 0;
  }
  .pl-tittle-list-item-link {
    display: inline-block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .pl-conteiner {
    padding: 20px 24px;
  }
  
  .pl-tittle-list-item-tittle {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--pr-col-txt);
  }
  .pl-tittle-list-item-par {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-col-txt);
  }
  
  .pl-tittle-list-item-link:hover,
  .pl-tittle-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .pl-cards {
    position: relative;
  
    overflow: hidden;
  }
  
  .pl-cards-text {
    position: absolute;
    top: 0;
    right: 0;
  
    padding: 63px 24px;
    height: 100%;
  
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0.03em;
  
    color: var(--bg-pr-col);
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(101%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .pl-tittle-list-item-link:hover .pl-cards-text,
  .pl-tittle-list-item-link:focus .pl-cards-text {
    transform: translateY(0);
  }