
  
  .list__skills {
    display: flex;
  }
  .skills__list__items {
    width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
    &::before {
      display: block;
      content: "";
      height: 120px;
      margin-bottom: 30px;
      background-color: var(--bg-lightgrey-col);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }


  }
  
  
  
  
  /* Befor icond */
  .icon__locator::before {
    content: "";
  
    background-image: url(../img/antenna.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
  }
  
  .icon__clock::before {
    content: "";
  
    background-image: url(../img/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
  }
  
  .icon__laptop::before {
    content: "";
  
    background-image: url(../img/diagram.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
  }
  .icon__spaceman::before {
    content: "";
  
    background-image: url(../img/astronaut.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
  }
  
  .skills__list__items__tittle {
    
  
    font-weight: bold;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--pr-col-txt);

    &--size{
      margin-bottom: 10px;

    }
  }
  .skills__list__items__par {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--second-col-txt);
  }