.list__social {
    display: flex;
    justify-content: center;
  }
  .list__social__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
  
  
  .link__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-pr-col);
  
    color: var(--icon-pr-col);
  
    transition: color var(--pr-transition),
      background-color var(--pr-transition);

      &:hover,
      &:focus {
    background-color: var(--accent-col);
    color: var(--bg-pr-col);

    &__footer{
      background-color: var(--footer-pr-icon);

    }



    
  }
  }
  .social__icon {
    fill: currentColor;
  }